In [1]:
import pandas as pd
from matplotlib import pyplot as plt

# Assign spreadsheet filename: file
file = 'kpmg_data.xlsx'

# Load spreadsheet: xl
xl = pd.ExcelFile(file)

# Print sheet names
print(xl.sheet_names)

['Title Sheet', 'Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

In [2]:
# Load CustomerDemographic sheet as df1
df1 = xl.parse(3, skiprows=1)
df1

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0
5,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,ðµ ð ð ð,Yes,13.0
6,7,Fina,Merali,Female,6,1976-02-23,NaN,Financial Services,Affluent Customer,N,â°â´âµâââ,Yes,11.0
7,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,NaN,Mass Customer,N,(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»),No,7.0
8,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,0/0,Yes,8.0
9,10,Fiorenze,Birdall,Female,49,1988-10-11,Senior Quality Engineer,Financial Services,Mass Customer,N,ð©ð½,Yes,20.0
10,11,Uriah,Bisatt,Male,99,1954-04-30,NaN,Property,Mass Customer,N,ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ,No,9.0
11,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,nil,No,8.0
12,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,N,-100,Yes,8.0
13,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,N,â°â´âµ,No,6.0
14,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,N,ð,No,1.0
15,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,NaN,Mass Customer,N,1000000000000000049861653971908893017010268485...,Yes,18.0
16,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,NaN,Affluent Customer,N,ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾,Yes,15.0
17,18,Marjie,Neasham,Female,79,1967-07-06,Professor,NaN,Affluent Customer,N,Î©âÃ§ââ«ËÂµâ¤â¥Ã·,No,11.0
18,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,N,ÅâÂ´â°ËÃÂ¨ËÃâââ,No,1.0
19,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,N,ð©ð½,No,11.0
20,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,N,-100,Yes,16.0
21,22,Deeanne,Durtnell,Female,79,1962-12-10,NaN,IT,Mass Customer,N,ï¼ï¼ï¼,No,11.0
22,23,Olav,Polak,Male,43,1995-02-10,NaN,NaN,High Net Worth,N,2018-02-01 00:00:00,Yes,1.0
23,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,N,../../../../../../../../../../../etc/hosts,Yes,15.0
24,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,N,×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ­Ø§Øª Ø§ÙØªÙØ­ÙÙ,Yes,21.0
25,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,N,"<>?:""{}|_+",Yes,16.0
26,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,N,"''''""",Yes,12.0
27,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,N,",./;'[]\-=",Yes,21.0
28,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,N,() { 0; }; touch /tmp/blns.shellshock1.fail;,No,19.0
29,30,Darrick,Helleckas,Male,18,1961-10-18,NaN,IT,Affluent Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,Yes,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3970,3971,Analise,Asbrey,Female,2,1979-01-14,Desktop Support Technician,Financial Services,High Net Worth,N,NaN,No,16.0
3971,3972,Maribelle,Schaffel,Female,6,1979-03-28,NaN,Retail,Mass Customer,N,Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌ...,No,8.0
3972,3973,Carolan,Jorez,Female,24,1963-07-13,Editor,Manufacturing,High Net Worth,N,ð¾ ð ð ð ð ð ð ð§,No,17.0
3973,3974,Misha,Ranklin,Female,82,1961-02-11,Technical Writer,NaN,Affluent Customer,N,1,Yes,9.0
3974,3975,Dianemarie,Kidgell,Female,2,1971-08-11,Administrative Assistant I,Entertainment,Affluent Customer,N,NIL,No,18.0
3975,3976,Gretel,Chrystal,Female,0,1957-11-20,Internal Auditor,NaN,Affluent Customer,N,"'""''''""",Yes,13.0
3976,3977,Katrinka,Van der Beken,Female,31,1965-08-21,Biostatistician II,Manufacturing,Mass Customer,N,ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ,Yes,16.0
3977,3978,Kathlin,Robker,Female,4,1972-03-02,Developer II,Financial Services,Mass Customer,N,NIL,No,5.0
3978,3979,Kleon,Adam,Male,67,1974-07-13,NaN,Financial Services,Mass Customer,N,â¤ï¸ ð ð ð ð ð ð ð ð ð ð ð ð ð ð,Yes,18.0
3979,3980,Nils,McGebenay,Male,41,1964-01-16,Web Designer I,Manufacturing,Mass Customer,N,â¡,No,12.0
3980,3981,Konstance,Draye,Female,34,1994-09-10,Quality Control Specialist,Health,Mass Customer,N,ËÉnbá´lÉ ÉuÆÉÉ¯ ÇÉ¹olop ÊÇ ÇÉ¹oqÉl Ên Êunpá´pá...,No,1.0
3981,3982,Maurita,O'Kinedy,Female,89,1962-06-02,General Manager,Manufacturing,Mass Customer,N,1,Yes,12.0
3982,3983,Jarred,Lyste,Male,19,1965-04-21,Graphic Designer,NaN,Mass Customer,N,Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌ...,Yes,9.0
3983,3984,Thadeus,Buxsey,Male,74,1960-02-16,Librarian,Entertainment,Affluent Customer,N,âð¿ ðªð¿ ðð¿ ðð¿ ðð¿ ðð¿,No,10.0
3984,3985,Caryn,Padbury,Female,44,1998-06-21,Web Developer IV,Property,Mass Customer,N,0/0,No,4.0
3985,3986,Oralle,Petrello,Female,1,1976-12-01,Social Worker,Health,Mass Customer,N,NaN,No,21.0
3986,3987,Beckie,Wakeham,Female,18,1964-05-29,NaN,Argiculture,Mass Customer,N,á,No,7.0
3987,3988,Ammamaria,Ashburne,Female,97,1994-07-14,Automation Specialist IV,Health,Mass Customer,N,â¡,Yes,1.0
3988,3989,Nicolas,Burdass,Male,75,1999-06-23,Environmental Specialist,Argiculture,Affluent Customer,N,âââ,Yes,1.0
3989,3990,Reynard,Hagger,Male,99,1998-03-05,Desktop Support Technician,Health,High Net Worth,N,0,No,1.0
3990,3991,Rolph,Sweetnam,Male,61,1985-08-06,Chief Design Engineer,Manufacturing,Mass Customer,N,"""'",Yes,13.0
3991,3992,Germain,Tireman,Male,99,1980-04-02,Database Administrator IV,Manufacturing,Affluent Customer,N,"Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ­Ø¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ ...",Yes,18.0
3992,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,N,á,No,10.0
3993,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,N,-100,No,12.0
3994,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,á,Yes,14.0
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-100,No,19.0
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,â¦testâ§,Yes,1.0
3997,3998,Sarene,Woolley,U,60,NaT,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN
3998,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ,Yes,10.0
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11.0

In [4]:
# Explore CustomerDemographic table as df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
customer_id                            4000 non-null int64
first_name                             4000 non-null object
last_name                              3875 non-null object
gender                                 4000 non-null object
past_3_years_bike_related_purchases    4000 non-null int64
DOB                                    3913 non-null datetime64[ns]
job_title                              3494 non-null object
job_industry_category                  3344 non-null object
wealth_segment                         4000 non-null object
deceased_indicator                     4000 non-null object
default                                3698 non-null object
owns_car                               4000 non-null object
tenure                                 3913 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.3+ KB

In [3]:
# Number of missing values in df1
df1.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [5]:
df1.deceased_indicator.value_counts()

N    3998
Y       2
Name: deceased_indicator, dtype: int64

- Column 'deceased 'is not meaningful (only 2  are dead); so we will drop it.<br>
- The value of 'default' column is not useable and does not any significance; so we will drop this also.

In [7]:

df1_r = df1.drop(['deceased_indicator','default'], axis=1)

- The values of 'gender’ column are inconsistent. F, M and Femal will be corrected to Female and Male

In [8]:
df1_1 = df1_r.replace({'gender': r'^F$'}, {'gender': 'Female'}, regex=True).replace({'gender': r'^Femal$'}, {'gender': 'Female'}, regex=True).replace({'gender': r'^M$'}, {'gender': 'Male'}, regex=True)

In [9]:
df1_1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,Yes,8.0

- Missing values for columns (last_name, job_title, job_industry_category) will be filled with 'Unknown'.

In [10]:
values = {'last_name': 'Unknown', 'job_title': 'Unknown', 'job_industry_category': 'Unknown'}
df1_1 = df1_1.fillna(value = values)

In [11]:
df1_1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,15.0
3,4,Talbot,Unknown,Male,33,1961-10-03,Unknown,IT,Mass Customer,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,8.0

- DOB value of '1843-12-21' looks like a typo; will be corrected to '1943-12-21'

In [16]:
df1_1.loc[(df1_1.DOB.astype('datetime64[ns]') == '1843-12-21'), 'DOB']='1943-12-21'

In [17]:
df1_1.DOB[33]

Timestamp('1943-12-21 00:00:00')

- Missing values of 'DOB' column will be filled with '1978-01-01' (belonging to mean age group).

In [18]:
df1_1.DOB.fillna('1978-01-01', inplace=True)
df1_1.DOB = df1_1.DOB.astype('datetime64[ns]')

In [19]:
df1_1.DOB[167]

Timestamp('1978-01-01 00:00:00')

- Missing values of 'tenure' column will be filled with '10.0' (mean value)

In [20]:
df1_1.tenure.fillna('10.0', inplace=True)

In [21]:
# Check null values in df1
df1_1.isna().sum()

customer_id                            0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
owns_car                               0
tenure                                 0
dtype: int64

In [22]:
# Check duplicated records in df1_1
df1_1.duplicated().sum()

0

In [23]:
# Create a new column 'age'
age = []
for birthdate in df1_1.DOB:
    diff = (pd.to_datetime('today').year - pd.to_datetime(birthdate).year)
    age.append(diff)  
    
df1_1['age'] = age
df1_1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,age
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,11,67
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,16,40
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,15,66
3,4,Talbot,Unknown,Male,33,1961-10-03,Unknown,IT,Mass Customer,No,7,59
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,8,43

In [24]:
# Change column name 'past_3_years_bike_related_purchases' to 'num_purchases'
df1_2 = df1_1.rename(columns = {'past_3_years_bike_related_purchases': 'num_purchases'})
df1_2

,customer_id,first_name,last_name,gender,num_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,age
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,11,67
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,16,40
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,15,66
3,4,Talbot,Unknown,Male,33,1961-10-03,Unknown,IT,Mass Customer,No,7,59
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,8,43
5,6,Curr,Duckhouse,Male,35,1966-09-16,Unknown,Retail,High Net Worth,Yes,13,54
6,7,Fina,Merali,Female,6,1976-02-23,Unknown,Financial Services,Affluent Customer,Yes,11,44
7,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Unknown,Mass Customer,No,7,58
8,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,Yes,8,47
9,10,Fiorenze,Birdall,Female,49,1988-10-11,Senior Quality Engineer,Financial Services,Mass Customer,Yes,20,32
10,11,Uriah,Bisatt,Male,99,1954-04-30,Unknown,Property,Mass Customer,No,9,66
11,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,No,8,26
12,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,Yes,8,65
13,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,No,6,37
14,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,No,1,20
15,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,Unknown,Mass Customer,Yes,18,43
16,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,Unknown,Affluent Customer,Yes,15,58
17,18,Marjie,Neasham,Female,79,1967-07-06,Professor,Unknown,Affluent Customer,No,11,53
18,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,No,1,19
19,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,No,11,40
20,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,Yes,16,40
21,22,Deeanne,Durtnell,Female,79,1962-12-10,Unknown,IT,Mass Customer,No,11,58
22,23,Olav,Polak,Male,43,1995-02-10,Unknown,Unknown,High Net Worth,Yes,1,25
23,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,Yes,15,43
24,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,Yes,21,44
25,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,Yes,16,42
26,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,Yes,12,42
27,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,Yes,21,47
28,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,No,19,52
29,30,Darrick,Helleckas,Male,18,1961-10-18,Unknown,IT,Affluent Customer,Yes,6,59
...,...,...,...,...,...,...,...,...,...,...,...,...
3970,3971,Analise,Asbrey,Female,2,1979-01-14,Desktop Support Technician,Financial Services,High Net Worth,No,16,41
3971,3972,Maribelle,Schaffel,Female,6,1979-03-28,Unknown,Retail,Mass Customer,No,8,41
3972,3973,Carolan,Jorez,Female,24,1963-07-13,Editor,Manufacturing,High Net Worth,No,17,57
3973,3974,Misha,Ranklin,Female,82,1961-02-11,Technical Writer,Unknown,Affluent Customer,Yes,9,59
3974,3975,Dianemarie,Kidgell,Female,2,1971-08-11,Administrative Assistant I,Entertainment,Affluent Customer,No,18,49
3975,3976,Gretel,Chrystal,Female,0,1957-11-20,Internal Auditor,Unknown,Affluent Customer,Yes,13,63
3976,3977,Katrinka,Van der Beken,Female,31,1965-08-21,Biostatistician II,Manufacturing,Mass Customer,Yes,16,55
3977,3978,Kathlin,Robker,Female,4,1972-03-02,Developer II,Financial Services,Mass Customer,No,5,48
3978,3979,Kleon,Adam,Male,67,1974-07-13,Unknown,Financial Services,Mass Customer,Yes,18,46
3979,3980,Nils,McGebenay,Male,41,1964-01-16,Web Designer I,Manufacturing,Mass Customer,No,12,56
3980,3981,Konstance,Draye,Female,34,1994-09-10,Quality Control Specialist,Health,Mass Customer,No,1,26
3981,3982,Maurita,O'Kinedy,Female,89,1962-06-02,General Manager,Manufacturing,Mass Customer,Yes,12,58
3982,3983,Jarred,Lyste,Male,19,1965-04-21,Graphic Designer,Unknown,Mass Customer,Yes,9,55
3983,3984,Thadeus,Buxsey,Male,74,1960-02-16,Librarian,Entertainment,Affluent Customer,No,10,60
3984,3985,Caryn,Padbury,Female,44,1998-06-21,Web Developer IV,Property,Mass Customer,No,4,22
3985,3986,Oralle,Petrello,Female,1,1976-12-01,Social Worker,Health,Mass Customer,No,21,44
3986,3987,Beckie,Wakeham,Female,18,1964-05-29,Unknown,Argiculture,Mass Customer,No,7,56
3987,3988,Ammamaria,Ashburne,Female,97,1994-07-14,Automation Specialist IV,Health,Mass Customer,Yes,1,26
3988,3989,Nicolas,Burdass,Male,75,1999-06-23,Environmental Specialist,Argiculture,Affluent Customer,Yes,1,21
3989,3990,Reynard,Hagger,Male,99,1998-03-05,Desktop Support Technician,Health,High Net Worth,No,1,22
3990,3991,Rolph,Sweetnam,Male,61,1985-08-06,Chief Design Engineer,Manufacturing,Mass Customer,Yes,13,35
3991,3992,Germain,Tireman,Male,99,1980-04-02,Database Administrator IV,Manufacturing,Affluent Customer,Yes,18,40
3992,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,No,10,46
3993,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,No,12,31
3994,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,Yes,14,45
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,No,19,45
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,Yes,1,19
3997,3998,Sarene,Woolley,U,60,1978-01-01,Assistant Manager,IT,High Net Worth,No,10.0,42
3998,3999,Patrizius,Unknown,Male,11,1973-10-24,Unknown,Manufacturing,Affluent Customer,Yes,10,47
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,Unknown,Affluent Customer,No,11,29

In [25]:
# Save df1_2 to excel file
customer = df1_2.to_excel('customer_demographic.xlsx', engine='xlsxwriter')

In [26]:
customer = pd.read_excel('customer_demographic.xlsx', index_col=0)
customer.head()

,customer_id,first_name,last_name,gender,num_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,age
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,11.0,67
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,16.0,40
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,15.0,66
3,4,Talbot,Unknown,Male,33,1961-10-03,Unknown,IT,Mass Customer,No,7.0,59
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,8.0,43

In [28]:
# Load Transactions sheet as df2
df2 = xl.parse(1, skiprows=1)
df2

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031.0
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455.0
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0
10,11,5,1986,2017-01-17,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784.0
11,12,61,2783,2017-01-05,1.0,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172.0
12,13,35,1243,2017-02-26,1.0,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527.0
13,14,16,2717,2017-09-10,0.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586.0
14,15,12,247,2017-06-11,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,38193.0
15,16,3,2961,2017-10-10,0.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873.0
16,17,79,2426,2017-04-03,0.0,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206.0
17,18,33,1842,2017-06-02,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888.0
18,19,54,2268,2017-04-06,1.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
19,20,25,3002,2017-01-28,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337.0
20,21,27,1582,2017-10-09,0.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334.0
21,22,37,595,2017-06-29,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
22,23,37,2001,2017-04-08,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145.0
23,24,82,515,2017-10-18,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404.0
24,25,89,2822,2017-06-11,0.0,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079.0
25,26,64,2596,2017-01-10,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145.0
26,27,64,2666,2017-04-11,1.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
27,28,19,76,2017-12-23,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560.0
28,29,72,3368,2017-10-13,1.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710.0
29,30,91,1173,2017-03-15,0.0,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,19971,1,1464,2017-03-18,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,41245.0
19971,19972,46,2967,2017-05-10,0.0,Approved,Solex,Standard,low,medium,1289.85,74.51,37220.0
19972,19973,39,1188,2017-05-13,1.0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,38750.0
19973,19974,80,148,2017-11-17,1.0,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,33429.0
19974,19975,88,3129,2017-09-08,1.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34527.0
19975,19976,35,1700,2017-10-22,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,42688.0
19976,19977,44,1102,2017-01-02,0.0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,38750.0
19977,19978,57,932,2017-10-08,1.0,Approved,WeareA2B,Touring,medium,large,1890.39,260.14,33259.0
19978,19979,27,333,2017-12-08,1.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,37698.0
19979,19980,30,1435,2017-03-04,1.0,Approved,Solex,Standard,high,medium,748.17,448.90,37337.0
19980,19981,95,3304,2017-06-07,0.0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874.0
19981,19982,28,1075,2017-07-20,1.0,Approved,Solex,Road,medium,small,1703.52,1516.13,40649.0
19982,19983,11,1137,2017-03-11,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19983,19984,80,275,2017-07-02,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
19984,19985,31,873,2017-11-15,1.0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,34527.0
19985,19986,36,2918,2017-11-09,1.0,Approved,Solex,Standard,low,medium,945.04,507.58,39526.0
19986,19987,38,2385,2017-11-01,0.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,40618.0
19987,19988,0,13,2017-04-05,1.0,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,42105.0
19988,19989,0,714,2017-04-27,1.0,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,37626.0
19989,19990,55,135,2017-01-27,1.0,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823.0
19990,19991,78,425,2017-01-26,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42218.0
19991,19992,11,1374,2017-09-14,0.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19992,19993,13,5,2017-04-28,0.0,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880.0
19993,19994,77,2618,2017-12-23,0.0,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,40553.0
19994,19995,9,718,2017-05-13,1.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,38216.0
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [29]:
# Number of unique customer_id
len(df2.customer_id.unique())

3494

In [30]:
# Check duplicated records
df2.duplicated().sum()

0

In [31]:
# Number of missing items
df2.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [32]:
# Missing values of ‘online_order’ column to be filled with random choice of False (0.0) and True (1.0).
import numpy as np
df2.online_order.fillna(np.random.choice([0.0,1.0]), inplace=True)

In [33]:
df2.online_order[136]

0.0

In [34]:
# columns (brand, product_line, product_class, product_size, standard_cost and product_first_sold_date) are interrelated.
# Hence,rows of these columns with missing values will be deleted, as 197 is negligible considering the total number of records.

# Get the index of 'brand' column with missing values
idx = df2[df2['brand'].isna()].index
idx

Int64Index([  136,   159,   366,   406,   676,   780,  1003,  1130,  1196,
             1282,
            ...
            19045, 19132, 19176, 19196, 19205, 19340, 19383, 19793, 19859,
            19871],
           dtype='int64', length=197)

In [35]:
# Delete these row indexes from df2
df2.drop(idx, inplace=True)

In [36]:
df2

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031.0
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455.0
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0
10,11,5,1986,2017-01-17,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784.0
11,12,61,2783,2017-01-05,1.0,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172.0
12,13,35,1243,2017-02-26,1.0,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527.0
13,14,16,2717,2017-09-10,0.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586.0
14,15,12,247,2017-06-11,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,38193.0
15,16,3,2961,2017-10-10,0.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873.0
16,17,79,2426,2017-04-03,0.0,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206.0
17,18,33,1842,2017-06-02,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888.0
18,19,54,2268,2017-04-06,1.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
19,20,25,3002,2017-01-28,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337.0
20,21,27,1582,2017-10-09,0.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334.0
21,22,37,595,2017-06-29,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
22,23,37,2001,2017-04-08,1.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145.0
23,24,82,515,2017-10-18,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404.0
24,25,89,2822,2017-06-11,0.0,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079.0
25,26,64,2596,2017-01-10,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145.0
26,27,64,2666,2017-04-11,1.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
27,28,19,76,2017-12-23,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560.0
28,29,72,3368,2017-10-13,1.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710.0
29,30,91,1173,2017-03-15,0.0,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,19971,1,1464,2017-03-18,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,41245.0
19971,19972,46,2967,2017-05-10,0.0,Approved,Solex,Standard,low,medium,1289.85,74.51,37220.0
19972,19973,39,1188,2017-05-13,1.0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,38750.0
19973,19974,80,148,2017-11-17,1.0,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,33429.0
19974,19975,88,3129,2017-09-08,1.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34527.0
19975,19976,35,1700,2017-10-22,0.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,42688.0
19976,19977,44,1102,2017-01-02,0.0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,38750.0
19977,19978,57,932,2017-10-08,1.0,Approved,WeareA2B,Touring,medium,large,1890.39,260.14,33259.0
19978,19979,27,333,2017-12-08,1.0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,37698.0
19979,19980,30,1435,2017-03-04,1.0,Approved,Solex,Standard,high,medium,748.17,448.90,37337.0
19980,19981,95,3304,2017-06-07,0.0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874.0
19981,19982,28,1075,2017-07-20,1.0,Approved,Solex,Road,medium,small,1703.52,1516.13,40649.0
19982,19983,11,1137,2017-03-11,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19983,19984,80,275,2017-07-02,0.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0
19984,19985,31,873,2017-11-15,1.0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,34527.0
19985,19986,36,2918,2017-11-09,1.0,Approved,Solex,Standard,low,medium,945.04,507.58,39526.0
19986,19987,38,2385,2017-11-01,0.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,40618.0
19987,19988,0,13,2017-04-05,1.0,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,42105.0
19988,19989,0,714,2017-04-27,1.0,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,37626.0
19989,19990,55,135,2017-01-27,1.0,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823.0
19990,19991,78,425,2017-01-26,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42218.0
19991,19992,11,1374,2017-09-14,0.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298.0
19992,19993,13,5,2017-04-28,0.0,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880.0
19993,19994,77,2618,2017-12-23,0.0,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,40553.0
19994,19995,9,718,2017-05-13,1.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,38216.0
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [37]:
# Check null values in df2
df2.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [38]:
# Number of unique transaction_date
len(df2.groupby('transaction_date').size())

364

In [39]:
# Save df2 to excel file
transactions = df2.to_excel('Transactions.xlsx', engine='xlsxwriter')

In [40]:
transactions = pd.read_excel('Transactions.xlsx', index_col=0)
transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
1,2,3,3120,2017-05-21,1,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
2,3,37,402,2017-10-16,0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
3,4,88,3135,2017-08-31,0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145
4,5,78,787,2017-10-01,1,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226
5,6,25,2339,2017-03-08,1,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031
6,7,22,1542,2017-04-21,1,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165
7,8,15,2459,2017-07-15,0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
8,9,67,1305,2017-08-10,0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455
9,10,12,3262,2017-08-30,1,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216
10,11,5,1986,2017-01-17,0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,40784
11,12,61,2783,2017-01-05,1,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,42172
12,13,35,1243,2017-02-26,1,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,34527
13,14,16,2717,2017-09-10,0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34586
14,15,12,247,2017-06-11,0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,38193
15,16,3,2961,2017-10-10,0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,37873
16,17,79,2426,2017-04-03,0,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,38206
17,18,33,1842,2017-06-02,0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,33888
18,19,54,2268,2017-04-06,1,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915
19,20,25,3002,2017-01-28,1,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,37337
20,21,27,1582,2017-10-09,0,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,36334
21,22,37,595,2017-06-29,1,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
22,23,37,2001,2017-04-08,1,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,42145
23,24,82,515,2017-10-18,0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,42404
24,25,89,2822,2017-06-11,0,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,34079
25,26,64,2596,2017-01-10,0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,42145
26,27,64,2666,2017-04-11,1,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047
27,28,19,76,2017-12-23,0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,42560
28,29,72,3368,2017-10-13,1,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,42710
29,30,91,1173,2017-03-15,0,Approved,WeareA2B,Standard,low,medium,642.31,513.85,41922
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,19971,1,1464,2017-03-18,0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,41245
19971,19972,46,2967,2017-05-10,0,Approved,Solex,Standard,low,medium,1289.85,74.51,37220
19972,19973,39,1188,2017-05-13,1,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,38750
19973,19974,80,148,2017-11-17,1,Approved,OHM Cycles,Touring,low,medium,1073.07,933.84,33429
19974,19975,88,3129,2017-09-08,1,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,34527
19975,19976,35,1700,2017-10-22,0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,42688
19976,19977,44,1102,2017-01-02,0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,38750
19977,19978,57,932,2017-10-08,1,Approved,WeareA2B,Touring,medium,large,1890.39,260.14,33259
19978,19979,27,333,2017-12-08,1,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,37698
19979,19980,30,1435,2017-03-04,1,Approved,Solex,Standard,high,medium,748.17,448.90,37337
19980,19981,95,3304,2017-06-07,0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874
19981,19982,28,1075,2017-07-20,1,Approved,Solex,Road,medium,small,1703.52,1516.13,40649
19982,19983,11,1137,2017-03-11,1,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298
19983,19984,80,275,2017-07-02,0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047
19984,19985,31,873,2017-11-15,1,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,34527
19985,19986,36,2918,2017-11-09,1,Approved,Solex,Standard,low,medium,945.04,507.58,39526
19986,19987,38,2385,2017-11-01,0,Approved,Solex,Standard,medium,medium,1577.53,826.51,40618
19987,19988,0,13,2017-04-05,1,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,42105
19988,19989,0,714,2017-04-27,1,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,37626
19989,19990,55,135,2017-01-27,1,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823
19990,19991,78,425,2017-01-26,0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42218
19991,19992,11,1374,2017-09-14,0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298
19992,19993,13,5,2017-04-28,0,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880
19993,19994,77,2618,2017-12-23,0,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,40553
19994,19995,9,718,2017-05-13,1,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,38216
19995,19996,51,1018,2017-06-24,1,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823
19996,19997,41,127,2017-11-09,1,Approved,Solex,Road,medium,medium,416.98,312.74,35560
19997,19998,87,2284,2017-04-14,1,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410
19998,19999,6,2764,2017-07-03,0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216
19999,20000,11,1144,2017-09-22,1,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334

In [41]:
# Merge customer and transaction tables for data analysis
merged = pd.merge(customer, transactions, on='customer_id', how='left')

In [42]:
merged

,customer_id,first_name,last_name,gender,num_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-12-23,0.0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,38482.0
1,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-04-06,1.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,39526.0
2,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-05-11,1.0,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,37823.0
3,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-01-05,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,37873.0
4,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-02-21,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,38573.0
5,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-05-19,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,33552.0
6,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-03-27,0.0,Approved,Norco Bicycles,Mountain,low,small,688.63,612.88,33455.0
7,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-12-14,1.0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,37337.0
8,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-06-04,1.0,Approved,Giant Bicycles,Standard,medium,medium,642.70,211.37,40618.0
9,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-12-09,1.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,37838.0
10,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,2017-03-29,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,35378.0
11,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,...,2017-05-04,1.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,40784.0
12,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,...,2017-06-11,0.0,Approved,WeareA2B,Standard,medium,medium,752.64,205.36,38206.0
13,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,Yes,...,2017-08-24,0.0,Approved,WeareA2B,Standard,medium,medium,1992.93,762.63,37337.0
14,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-02-23,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,41009.0
15,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-09-16,0.0,Approved,Giant Bicycles,Standard,medium,large,1635.30,993.66,41009.0
16,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-04-21,1.0,Approved,Trek Bicycles,Road,medium,large,1894.19,598.76,41701.0
17,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-04-05,0.0,Approved,Norco Bicycles,Road,medium,large,1240.31,795.10,36833.0
18,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-09-04,0.0,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,40303.0
19,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-03-24,0.0,Approved,Norco Bicycles,Standard,high,medium,1148.64,689.18,37499.0
20,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-06-26,0.0,Approved,Norco Bicycles,Standard,low,medium,363.01,290.41,40303.0
21,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,Yes,...,2017-09-19,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,36145.0
22,4,Talbot,Unknown,Male,33,1961-10-03,Unknown,IT,Mass Customer,No,...,2017-04-03,0.0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,37874.0
23,4,Talbot,Unknown,Male,33,1961-10-03,Unknown,IT,Mass Customer,No,...,2017-06-18,1.0,Approved,Solex,Standard,medium,medium,478.16,298.72,34143.0
24,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,...,2017-08-16,0.0,Approved,Norco Bicycles,Road,high,large,774.53,464.72,39526.0
25,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,...,2017-03-03,1.0,Approved,Norco Bicycles,Mountain,low,small,688.63,612.88,34244.0
26,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,...,2017-05-03,0.0,Approved,Trek Bicycles,Road,medium,medium,290.62,215.14,37626.0
27,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,...,2017-12-14,0.0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,39526.0
28,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,...,2017-05-26,1.0,Approved,WeareA2B,Road,low,small,1172.78,1043.77,33364.0
29,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,Yes,...,2017-04-28,0.0,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20277,3971,Analise,Asbrey,Female,2,1979-01-14,Desktop Support Technician,Financial Services,High Net Worth,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20278,3972,Maribelle,Schaffel,Female,6,1979-03-28,Unknown,Retail,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20279,3973,Carolan,Jorez,Female,24,1963-07-13,Editor,Manufacturing,High Net Worth,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20280,3974,Misha,Ranklin,Female,82,1961-02-11,Technical Writer,Unknown,Affluent Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20281,3975,Dianemarie,Kidgell,Female,2,1971-08-11,Administrative Assistant I,Entertainment,Affluent Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20282,3976,Gretel,Chrystal,Female,0,1957-11-20,Internal Auditor,Unknown,Affluent Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20283,3977,Katrinka,Van der Beken,Female,31,1965-08-21,Biostatistician II,Manufacturing,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20284,3978,Kathlin,Robker,Female,4,1972-03-02,Developer II,Financial Services,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20285,3979,Kleon,Adam,Male,67,1974-07-13,Unknown,Financial Services,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20286,3980,Nils,McGebenay,Male,41,1964-01-16,Web Designer I,Manufacturing,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20287,3981,Konstance,Draye,Female,34,1994-09-10,Quality Control Specialist,Health,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20288,3982,Maurita,O'Kinedy,Female,89,1962-06-02,General Manager,Manufacturing,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20289,3983,Jarred,Lyste,Male,19,1965-04-21,Graphic Designer,Unknown,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20290,3984,Thadeus,Buxsey,Male,74,1960-02-16,Librarian,Entertainment,Affluent Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20291,3985,Caryn,Padbury,Female,44,1998-06-21,Web Developer IV,Property,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20292,3986,Oralle,Petrello,Female,1,1976-12-01,Social Worker,Health,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20293,3987,Beckie,Wakeham,Female,18,1964-05-29,Unknown,Argiculture,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20294,3988,Ammamaria,Ashburne,Female,97,1994-07-14,Automation Specialist IV,Health,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20295,3989,Nicolas,Burdass,Male,75,1999-06-23,Environmental Specialist,Argiculture,Affluent Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20296,3990,Reynard,Hagger,Male,99,1998-03-05,Desktop Support Technician,Health,High Net Worth,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20297,3991,Rolph,Sweetnam,Male,61,1985-08-06,Chief Design Engineer,Manufacturing,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20298,3992,Germain,Tireman,Male,99,1980-04-02,Database Administrator IV,Manufacturing,Affluent Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20299,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20300,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20301,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20302,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20303,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20304,3998,Sarene,Woolley,U,60,1978-01-01,Assistant Manager,IT,High Net Worth,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20305,3999,Patrizius,Unknown,Male,11,1973-10-24,Unknown,Manufacturing,Affluent Customer,Yes,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20306,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,Unknown,Affluent Customer,No,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# Create a new column 'profit'
profit = merged.list_price - merged.standard_cost
merged['profit'] = profit

In [47]:
# Save merged to excel file
merged = merged.to_excel('merged.xlsx', engine='xlsxwriter')
merged = pd.read_excel('merged.xlsx', index_col=0)
merged.head()

,customer_id,first_name,last_name,gender,num_purchases,DOB,job_title,job_industry_category,wealth_segment,owns_car,...,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,profit
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,0.0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,38482.0,110.56
1,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,1.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,39526.0,751.02
2,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,1.0,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,37823.0,189.28
3,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,37873.0,90.10
4,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,Yes,...,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,38573.0,17.87

In [46]:
# Load CustomerAddress sheet as df3
df3 = xl.parse(4, skiprows=1)
df3.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [48]:
# Check null values
df3.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [49]:
# Check duplicated records
df3.duplicated().sum()

0

In [50]:
# Number of unique customer_id
len(df3.customer_id.unique())

3999

In [51]:
# Distribution of states
df3.groupby('state').size()

state
NSW                2054
New South Wales      86
QLD                 838
VIC                 939
Victoria             82
dtype: int64

In [52]:
# The values of ‘state’ column are inconsistent; will be corrected.
df3_1 = df3.replace({'state':'New South Wales'}, {'state':'NSW'}).replace({'state':'Victoria'}, {'state':'VIC'})
df3_1.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,NSW,Australia,10
1,2,6 Meadow Vale Court,2153,NSW,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,NSW,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [53]:
df3_1.groupby('state').size()

state
NSW    2140
QLD     838
VIC    1021
dtype: int64

In [54]:
df3_2 = df3_1.to_excel('customer_address.xlsx', engine='xlsxwriter')

In [55]:
df3_2 = pd.read_excel('customer_address.xlsx', index_col=0)

In [56]:
df_4 = xl.parse(2, skiprows=1)
pd.set_option('display.max_columns', 23)
df_4.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.89,0.8900,1.1125,0.945625,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1.01,1.0100,1.0100,1.010000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,0.87,1.0875,1.0875,1.087500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,0.52,0.5200,0.6500,0.650000,4,4,1.703125

In [58]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
first_name                             1000 non-null object
last_name                              971 non-null object
gender                                 1000 non-null object
past_3_years_bike_related_purchases    1000 non-null int64
DOB                                    983 non-null datetime64[ns]
job_title                              894 non-null object
job_industry_category                  835 non-null object
wealth_segment                         1000 non-null object
deceased_indicator                     1000 non-null object
owns_car                               1000 non-null object
tenure                                 1000 non-null int64
address                                1000 non-null object
postcode                               1000 non-null int64
state                                  1000 non-null object
country                                1000 non-null object
property_valuation                     1000 non-null int64
Unnamed: 16                            1000 non-null float64
Unnamed: 17                            1000 non-null float64
Unnamed: 18                            1000 non-null float64
Unnamed: 19                            1000 non-null float64
Unnamed: 20                            1000 non-null int64
Rank                                   1000 non-null int64
Value                                  1000 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [59]:
# Drop unnamed columns
df_4a = df_4.drop([df_4.columns[16], df_4.columns[17], df_4.columns[18], df_4.columns[19], df_4.columns[20]], axis='columns')
df_4a.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [60]:
# Number of missing values
df_4a.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [61]:
# Missing values of DOB column will be filled with '1978-01-01'
df_4a.DOB.fillna('1978-01-01', inplace=True)
df_4a.DOB = df_4a.DOB.astype('datetime64[ns]')

In [65]:
# Create a new column 'age' with DOB 
age = []
for birthdate in df_4a.DOB:
    diff = (pd.to_datetime('today').year - pd.to_datetime(birthdate).year)
    age.append(diff)   
    
df_4a['age'] = age
df_4a.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value,age
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750,63
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750,50
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750,46
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125,41
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125,55

In [64]:
df_4b = df_4a.rename(columns = {'past_3_years_bike_related_purchases': 'num_purchases'})
df_4b.head()

,first_name,last_name,gender,num_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value,age
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750,63
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750,50
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750,46
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125,41
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125,55

In [66]:
new_customer = df_4b.to_excel('new_customer.xlsx', engine='xlsxwriter')
new_customer = pd.read_excel('new_customer.xlsx', index_col=0)